# Environment variables
.env
*.env

# Python
__pycache__/
*.py[cod]
*.so
venv/
env/
.venv/

# Flutter/Dart
mobile/.dart_tool/
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/*.g.dart

# IDE
.vscode/
.idea/

# Logs
*.log
